DATABASE_URL=your_value_here
NEXTAUTH_URL=your_value_here
NEXTAUTH_SECRET=your_value_here
GOOGLE_CLIENT_ID=your_value_here
GOOGLE_CLIENT_SECRET=your_value_here
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_value_here
RAZORPAY_KEY_ID=your_value_here
RAZORPAY_KEY_SECRET=your_value_here